

$color-primary: #C2D9E6;
$color-primary-light: #AECCDE;
$color-primary-dark: #72A6C5;

$color-secondary-light: #73E3AB;
$color-secondary-dark: #17D073;


$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;




$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-white:#fff;
$color-black:#000;

// FONT
$default-font-size: 1.6rem;

//GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal:6rem;